<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">@ChildContent</h3>
    </div>
</div>

@code 
{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}