@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a class="ml-md-auto">The WAUW starts NOW!</a>
    </div>

    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="kt_tabs_1_1" role="tabpanel">
                        @Body
                </div>
            </div>
        </div>
    </div>
</div>
