@using mdijk.blazoring.Shared.Models

<tr>
    <td><InputText @bind-Value="engine.EngineName" class="form-control" /></td>
    <InputSelect id="inputCountry" @bind-Value="engine.Country" class="form-control">
        <CountrySelect />
    </InputSelect>
</tr>


@code
{
    [Parameter]
    public Engine engine { get; set;}
}