@using mdijk.blazoring.Shared.Models

<tr>
    <td><InputText @bind-Value="team.TeamName" class="form-control" /></td>
    <InputSelect id="inputCountry" @bind-Value="team.Country" class="form-control">
        <CountrySelect />
    </InputSelect>
</tr>


@code
{
    [Parameter]
    public Team team { get; set;}
}