<tr class="text-input__loading">
    <td><div class="kt-spinner kt-spinner--lg kt-spinner--warning" id="dIncomeSpinner" /></td>
    <td class="text-input__loading-line">&nbsp;</td>
    <td class="text-input__loading-line">&nbsp;</td>
</tr>
<tr class="text-input__loading">
    <td class="text-input__loading-line">&nbsp;</td>
    <td class="text-input__loading-line">&nbsp;</td>
    <td class="text-input__loading-line">&nbsp;</td>
</tr>
<tr class="text-input__loading">
    <td class="text-input__loading-line">&nbsp;</td>
    <td class="text-input__loading-line">&nbsp;</td>
    <td class="text-input__loading-line">&nbsp;</td>
</tr>
<tr class="text-input__loading">
    <td class="text-input__loading-line">&nbsp;</td>
    <td class="text-input__loading-line">&nbsp;</td>
    <td class="text-input__loading-line">&nbsp;</td>
</tr>